<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file value="Logs\Error.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="15" />
		<maximumFileSize value="50MB" />
		<datePattern value="yyyyMMdd" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level [%C.%M:%line] - %message%newline%exception" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	<appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<file value="Logs\Debug.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="15" />
		<maximumFileSize value="50MB" />
		<datePattern value="yyyyMMdd" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level [%C.%M:%line] - %message%newline%exception" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="WARN" />
		</filter>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="DebugLogAppender" />
		<appender-ref ref="ErrorLogAppender" />
	</root>
</log4net>